#app {
  width: 1200px;
  background-color: #fff;
}

.map {
   height: 800px;
   width: 1200px;
}

#animation-date-selector {
  margin-top: 20px;
  text-align: center;
}

.player-buttons {
  margin: 10px auto;
  text-align: center;
}
