#app {
  width: 1140px;
  background-color: #fff;
}

.subtitle {
  margin-top: -10px;
}

.map {
   height: 800px;
   width: 1140px;
}

#animation-date-selector {
  margin-top: 20px;
  text-align: center;
}

.player-buttons {
  margin: 10px auto;
  text-align: center;
}

.dynamodb-status {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  padding: 4px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 0.92em;
}

.live-button-section {
  position: relative;
  min-height: 100px;
}

.live-button-section-content {
  position: absolute;
  bottom: 0;
  right: 14px;
}

.live-toggle label {
  margin: 0;
}

footer {
  margin: 80px 0 30px;
  text-align: center;
}

footer p {
  margin-bottom: 2px;
}

.gm-style-mtc {
  display: none;
}

.datepicker {
}
